a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hamburger {
  display: block;
}

.desktop-menu {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px 0 24px;
  background: #fff;
  height: 48px;
  position: fixed;
  width: 100vw;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: fixed;
  background-color: rgba(50, 70, 255, 0.76);
  backdrop-filter: blur(5px);
  opacity: 100%;
  width: 100%;
  height: 100vh;
  right: -100%;
  top: 0;
  transition: 0.3s;
  padding: 56px 0 0 28px;
}

.nav-menu.active {
  right: 0;
}

.nav-item {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.nav-menu li {
  margin-bottom: 24px;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #e5e5e5;
}

.logo {
  padding: 10px 24px;
  height: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

.nav-button {
  position: relative;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 12px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.intro {
  background-image: url('assets/images/header-shapes-mobile@2x.svg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  border-bottom-left-radius: 80px;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  top: 92px;
  background-color: white;
}

h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 15px 0;
}

.intro .about-me {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  left: 24px;
  top: 276px;
  margin: 12px 0;
  order: 1;
}

.intro .connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  max-width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  flex-grow: 0;
  margin: 0;
  order: 2;
}

.socials-media-icons {
  color: #505f79;
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

/* popup-section start */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 120px;
  padding: 120px 20px;
}

.section-img-left,
.section-img-right {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
}

.section-img-left ul,
.section-img-right ul {
  margin: 20px;
}

.section-img-left img,
.section-img-right img {
  width: 100%;
  height: 100%;
}

.img-1-2 {
  display: none;
}

.popup-block .tagsock-2 {
  margin: 0 20px 20px 20px;
}

.client-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.client-info img {
  width: 8px;
  height: 8px;
}

.text-group {
  display: block;
}

.lg-text-2 {
  padding-top: 20px;
  color: #172b4d;
  font-size: 34px;
  font-weight: bolder;
  line-height: 48px;
  letter-spacing: 0.37px;
}

.client {
  font-size: 14px;
  text-transform: uppercase;
  color: #344563;
}

.role,
.year-label {
  font-size: 14px;
  color: #505764;
}

.sm-text-2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #344563;
  margin: 10px 0;
}

.block-1 .tags,
.block-2 .tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin: 14px 0 20px 0;
}

.block-1 {
  padding: 20px;
}

.tags li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #3a4bea;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
}

.btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.btn:active {
  background: #2230d2;
}

/* Modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  padding: 20px;
  background-color: rgba(0, 20, 50, 0.3);
}

/* Modal Content */
.modal-content {
  background: #fff;
  border: 1px solid #ebecf0;
  border-radius: 12px;
  padding: 20px 20px;
  width: 100%;
}

.popup-text-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.popup-text-lg {
  color: #172b4d;
  font-size: 34px;
  font-weight: bolder;
  line-height: 48px;
  letter-spacing: 0.37px;
}

.popup-text-sm {
  margin: 1rem 0 2rem 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-block .tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin: 14px 0 20px 0;
  border-bottom: 1px solid lightgrey;
  padding: 0 0 20px 0;
}

.popup-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnImg {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.about-section {
  display: flex;
  flex-direction: column;
  padding: 40% 24px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 80px;
  background-color: #fff;
  margin-top: -50px;
  width: 100%;
}

.about-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin-top: -65px;
}

.about-sec-connect {
  margin-bottom: 12px;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.about-primary-text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-secondary-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.get-resume-btn {
  margin-top: 15px;
  padding: 12px;
  background-color: #fff;
  color: #6070ff;
  border: 1px solid #7f8cff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition-property: background-color, color;
  transition-duration: 500ms;
}

.get-resume-btn:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.skill-list {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.skill-li {
  border-bottom: solid 1px #dfe1e6;
}

.accordion {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 24px 12px;
  color: #000;
  cursor: pointer;
}

.accordion h6 {
  display: flex;
  flex-grow: 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.panel {
  padding: 12px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.skill-item {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
}

.skill-item span {
  padding: 16px;
  color: #253858;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.skill-item img {
  border: 1px solid #fff;
  width: 48px;
}

.skill-type {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.acc-active {
  display: block;
}

.tech-tag-2 {
  background-color: #ebebff;
  color: #6070ff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 1px;
}

.contact-form {
  margin: 0 24px 0 18px;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
}

.contact-box {
  background-color: #6070ff;
  border-top-left-radius: 80px;
  background-image: url('assets/images/contact-form-shapes-mobile@2x.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  height: 779px;
}

.contact-section {
  background-color: #fff;
  width: 100%;
  height: 779px;
}

.h3-contact {
  padding-top: 100px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contact-text {
  color: #ebebff;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 25px;
}

/* Form Validation */
.error {
  visibility: hidden;
  color: #0a2759;
  font-weight: 500;
  background-color: #fff;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  margin-left: 50px;
  font-size: 17px;
}

input {
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  padding: 15px 38px 15px 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  outline-color: #6070ff;
}

textarea {
  width: 100%;
  padding: 15px 38px 15px 16px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #b3bac5;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  outline-color: #6070ff;
}

.contact-button {
  padding: 12px 16px;
  font-family: Poppins, sans-serif;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 3%;
  border-radius: 8px;
  border: none;
  margin-top: 12.5px;
  width: 145px;
}

.contact-button:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 10px 5px 5px #6978ff;
}

.contact-button:active {
  background-color: #2230d2;
  color: #fff;
}

@media (min-width: 992px) {
  /* works */
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 120px;
    padding: 120px 180px;
  }

  .section-img-left,
  .section-img-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-radius: 16px;
  }

  .section-img-right ul {
    margin: 20px;
    order: 1;
  }

  .img-1-1 {
    display: none;
  }

  .img-1-2 {
    display: block;
  }

  .img-1-2:hover {
    transform: scale(1.03);
  }

  .block-2 {
    margin: 0 40px 20px 40px;
  }

  .modal {
    padding: 5% 10%;
    margin: auto;
  }

  .popup-img {
    width: 100%;
    height: 100%;
  }

  .popup-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .popup-actions {
    justify-content: flex-start;
    gap: 10px;
  }

  .nav-menu,
  .nav-menu.active {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .nav-branding {
    font-size: 2rem;
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: dodgerblue;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .logo {
    margin-top: -10px;
  }

  .intro {
    background-image: url('assets/images/Header-bg@2x-png');
    background-size: cover;
    margin: 0;
    width: 100%;
  }

  .tester2 {
    width: 710px;
    margin: 0 auto;
  }

  /* .portfolio-item {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 50px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .portfolio-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .portfolio-m2 {
    margin-left: 40px;
  } */

  .about-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 750px;
    padding-top: 200px;
  }

  .contact-section {
    width: 100%;
    margin: 0 auto;
  }

  .portofolio-m3 {
    margin-top: -65px;
    padding-right: 50px;
  }

  .panel {
    display: flex;
    padding-right: 70px;
  }

  .skill-item {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }

  .skilllist {
    margin-left: 100px;
  }

  .work-section {
    row-gap: 70px;
  }

  .contact-box-m5 {
    width: 50%;
    margin: 0 auto;
  }

  .contact-box {
    background-image: url('assets/images/contact-form.png');
    background-size: cover;
  }

  .contact-button {
    margin: 18px auto;
  }

  .contact-text {
    padding-bottom: 15px;
  }

  .about-top {
    margin-left: 5px;
  }
}
